body {
	background-color: rgb(40, 40, 50);
	width: 700px;
	margin: 70px auto;
}

p {
	color: rgb(200, 200, 220);
	text-align: left;	
}


p.paragraph {
	color: rgb(200, 200, 220);
	text-align: justify;	
	font-family: 'Georgia';
}

p.paragraph b {
	color: orange;
	font-size: 20px;
	letter-spacing: 1px;
}


i.code{
	font-style: italic;
	background-color: rgb(50, 50, 60);
	font-family: 'Monaco', 'Lucida Console', 'Courier New';
	color: orange;
}


h2 {
	color: rgb(220, 220, 220);
	text-align: center;	
}



/* Terminal block */

div.terminalHolder {
	background-color: rgb(45, 45, 45);
	padding: 20px 20px;

	border-radius: 5px;
	border-style: solid;
	border-color: white;
	border-width: 2;
	border-color: gray;

	margin: 20px 10px;
	
}


div.terminalHolder h3 {
	color: rgb(200, 200, 200);
	text-align: center;	
}



div.terminal {
	font-style: normal;	
	font-family: 'Monaco', 'Lucida Console', 'Courier New';
	color: rgb(200, 200, 220);
	font-size: 12px;

	/*background: rgb(50, 50, 50);*/
	background-color: rgb(50, 53, 53);

	margin: 7px;
	padding: 7px;

	border-color: rgb(100, 100, 110);
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;	
}

div.terminal span.line {
	color: orange;
}


